.affairs {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid blue;
  padding: 30px;
  margin: auto;
  max-width: 60%;
}

.affairs button {
  padding: 10px;
  text-align: center;
  border: 1px solid blue;
  background: cornflowerblue;
  color: #fff;
}

.affairsList {
  width: 100%;
  list-style: none;
  margin-bottom: 50px;
}

.affairsItem {
  width: 100%;
  padding: 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid blue;
}

.affairsItem:not(:last-child) {
  margin-bottom: 10px;
}

.affairsItem > span {
  width: 40%;
  text-align: left;
}

.affairsBtns {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* colors */
.high {
  color: red;
}

.medium {
  color: blue;
}

.low {
  color: green;
}