.superButton {
    border-radius: 5px;
    padding: 8px 16px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white; 
    color: black; 
    border: 2px solid #000;
}


.superButton:hover {
  background-color: #000;
  color: white;
  cursor: pointer;
}

.red {
    background: red;
}