.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100vh;
  /* background-color: #3b5998; */
  transition: .5s ease;
}

.header.closed {
  transform: translateX(-200px);
}

.header_toggle {
  /* background-color: #fff; */
  /* color: #3b5998; */
  padding: 20px;
  position: absolute;
  top: 25px;
  right: -30%;
  border: 2px solid;
  border-radius: 50%;
  transition: .5s ease;
  outline: none;
}

.header_toggle:hover {
  cursor: pointer;
  color: #fff;
  background-color: #3b5998;
  border: 2px solid #fff;
}

.header_toggle.opened i {
  transition: .5s ease;
  transform: rotate(180deg);
}

.navigation {
  padding: 20px 0;
}

.link {
  display: block;
  /* color: #fff; */
  padding: 20px 10px;
  text-decoration: none;
}

.link:hover {
  /* border: 2px solid #fff; */
  color: #000;
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

.link.active {
  color: #000;
}